/* Basic navbar styling */
.body{
    background-color: white;
    background-repeat: no-repeat;
    flex-direction: column;
}
.html,body{
    margin:0;
    padding: 0;
}
.navbar {
    list-style: none;
    display: relative;
    justify-content: space-around;
    margin: 0;
    padding: 20px;
    position: relative;
    text-align: right;

}

.navbar li {
    display: inline-block;
    position: relative;
    list-style: none;
}
/* @media */
.navbar a {
    text-decoration: none;
    color: #0a0a09;
    font-weight: bold;
    padding: 10px 20px;
    position: relative;
    display: inline-block;
}

/* Hover line styling */
.navbar a::after {
    content: '';
    position: absolute;
    left: 5px;
    bottom: 0;
    height: 3px;
    width: 0px;
    background-color: #0e6406;
    transition: width 0.3s ease-in-out;
}

/* On hover: the line expands under each individual link */
.navbar a:hover::after {
    width: 90%;
}
#logo{
    list-style: none;
    width: 100px;
    height: auto;
    position: relative;
    float: left;
}
#icon{
    width: 20px;
    height:20px;
    margin-right: 8px; 
    position: relative;
    top: 3px;

}
.floating{
    clear:both;
    height: 0;
}
.dropdown {
    display: none; /* Hide dropdown by default */
    position: absolute; /*relative to its parent li */
    margin-top: 10px;
    padding: 0;
    font-size: 14px; 
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
    padding-left: 40px;

}

.dropdown li {
    list-style: none;
}

.dropdown li a {
    display: block; 
    padding: 7px; 
    text-decoration: none;
    color: #0a0a09;
}
.dropdown a:hover{
    color: rgb(44, 34, 178);
}